#cloud-config
# vim: syntax=yaml
#
# ***********************
#	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: vladimircamacho
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC918dFWbW3ZX32A8g87aVMu4I3LfISBTjwSKVkWZx9leeqR7AkiUbxVPbM0PUtg+pSfUxCIVLHIuBpVZkaLztoI0BOurIIh1YPcncdMr9c31HfcjYLmiKS27R3PwCXLV/w5Ju0qpbTzSFhVjLEYDP8+dEOQARTM4t59ac8Czl9Q1lcwktLRZxgARBKl7d153iz/6AUlTfFjugcBlT4pwjP+hgXHrz/0f5Gre1FVDdPscMNhVN0NgeJf6xq/Ebya5d0uWvfvCJnOhFKK8bmySDY/HA9khQoRYL7ir6kEO7Zu9sjsk/1s0Wnxn9bAN2zCdJPlIdtTmXSI4OW7sEylI9v vladimircamacho@ubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
